@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sansita+Swashed:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* variables */
$PrimaryColor: #14213d;
$SecondaryColor: #f3f3f3;

@mixin flexCenter {
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* utility */

.flex-container {
  display: flex;
}

/* header */

header {
  background-color: $PrimaryColor;
  color: white;
  @include flexCenter();
  .flex-items {
  }
  input {
    flex: 3;
  }
  div {
    flex: 0.5;
  }
  h1 {
    flex: 1.1;
    text-align: left;
    font-family: "Sansita Swashed", cursive;
    font-size: 1.5rem;
  }
  i {
    flex: 1;
  }
}
