@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sansita+Swashed:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* variables */
$PrimaryColor: #14213d;
$SecondaryColor: #f3f3f3;

@mixin flexCenter {
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* utility */

.flex-container {
  display: flex;
}

/* header */

header {
  background-color: $PrimaryColor;
  color: white;
  @include flexCenter();
  input {
    flex: 1;
    font-size: 1.2rem;
  }
  #header-logo-div {
    flex: 0.5;
    text-align: right;
  }
  h1 {
    flex: 1.1;
    text-align: left;
    font-family: "Sansita Swashed", cursive;
    font-size: 1.5rem;
  }
  #header-icon-div {
    flex: 1.6;
  }
  i {
    font-size: 2.5rem;
    padding: 10px 20px;
    transition: background-color 1s ease;
    &:hover {
      cursor: pointer;
      background-color: #1f325c;
    }
  }
}

/* body */
.gallery {
  padding: 0 20px;
  background-color: aqua;
  border-radius: 20px;
  .results {
    margin-left: 10%;
    padding: 10px 0;
  }
}

.images-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  @include flexCenter();
  flex-wrap: wrap;
  .aspect-ratio-container {
    background: rgba(0, 0, 0, 0.356);
    position: relative;
    top: -35px;
    padding: 5px 0;
    width: 200px;
    margin: auto;
    opacity: 0;
    transition: opacity 0.5s ease;
    &.visible {
      opacity: 1;
    }
  }
  .aspect-ratio {
    color: white;
    font-weight: 200;
  }
}

.images-container > a {
  flex: 1;
  text-decoration: none;
}

.wallpaper-container {
  margin: 10px;
}
