@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sansita+Swashed:wght@400;700&display=swap");
.mobile-ver {
  display: none;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* variables */
/* utility */
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* header */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #14213d;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.2rem;
}

header #header-logo-div {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  text-align: right;
}

header h1 {
  -webkit-box-flex: 1.1;
      -ms-flex: 1.1;
          flex: 1.1;
  text-align: left;
  font-family: "Sansita Swashed", cursive;
  font-size: 1.5rem;
}

header #header-icon-div {
  -webkit-box-flex: 1.6;
      -ms-flex: 1.6;
          flex: 1.6;
}

header i.fa-search {
  position: relative;
  left: -30px;
  color: black;
}

header i.fa-random {
  font-size: 2.5rem;
  padding: 10px 20px;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

header i.fa-random:hover {
  cursor: pointer;
  background-color: #1f325c;
}

header i.fa-home {
  font-size: 2.5rem;
  padding: 10px 20px;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

header i.fa-home:hover {
  cursor: pointer;
  background-color: #1f325c;
}

/* body */
.gallery {
  padding: 0 20px;
}

.gallery .results {
  margin-left: 10%;
  padding: 10px 0;
}

.images-container {
  max-width: 1400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.images-container img {
  width: 320px;
  border-radius: 10px;
}

.images-container img:hover {
  cursor: pointer;
}

.images-container .aspect-ratio-container {
  background: rgba(0, 0, 0, 0.356);
  position: relative;
  top: -38px;
  padding: 5px 0;
  margin: auto;
  opacity: 0;
  border-radius: 10px;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.images-container .aspect-ratio-container.visible {
  opacity: 1;
}

.images-container .aspect-ratio {
  color: white;
  font-weight: 200;
}

.images-container a {
  cursor: default;
}

.images-container > a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
}

.wallpaper-container {
  margin: 10px;
}

/* ---------------------single img html-------------------------- */
#single-img-html .flex-container .flex-items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#single-img-html .flex-container .site-name {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

#single-img-html .flex-container .search {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

#single-img-html .flex-container #header-logo-div {
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
}

#single-img-html .flex-container #home-i-container {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

#single-img-html .flex-container #home-i-container a {
  color: white;
}

#single-img-html .flex-container #header-icon-div {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

#tags {
  width: 200px;
  margin: auto;
}

#tags .tag {
  background-color: #14213d;
  margin-top: 20px;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.2rem;
}

#single-img-section .flex-container {
  height: 100%;
  width: 100%;
}

#single-img-section .flex-container #flex-item1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 50px;
  text-align: center;
}

#single-img-section .flex-container #flex-item1 h3 {
  font-size: 1.8rem;
}

#single-img-section .flex-container #flex-item1 #aspect-ratio {
  margin-top: 50px;
  text-align: center;
  font-size: 1.2rem;
}

#single-img-section .flex-container #flex-item1 .link-to-image {
  margin-top: 30px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2em;
}

#single-img-section .flex-container #flex-item1 .link-to-image a {
  color: #14213d;
}

#single-img-section .flex-container #flex-item1 #full-img-link-container {
  margin-top: 50px;
  font-size: 1.2rem;
}

#single-img-section .flex-container #flex-item2 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 0 200px 0 50px;
}

#single-img-section .flex-container .flex-items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

#single-img-section .flex-container .flex-items img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

#single-img-section .flex-container ul {
  list-style: none;
  display: inline;
}

#single-img-section .flex-container ul li {
  line-height: 2;
  margin: 5px 20%;
  border-radius: 20px;
  background-color: #14213d;
  color: white;
}
/*# sourceMappingURL=style_desktop.css.map */