@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sansita+Swashed:wght@400;700&display=swap");

.mobile-ver {
  display: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* variables */
$PrimaryColor: #14213d;
$SecondaryColor: #f3f3f3;

@mixin flexCenter {
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* utility */

.flex-container {
  display: flex;
}

/* header */

header {
  position: sticky;
  top: 0;
  background-color: $PrimaryColor;
  color: white;
  @include flexCenter();
  input {
    flex: 1;
    font-size: 1.2rem;
  }
  #header-logo-div {
    flex: 0.5;
    text-align: right;
  }
  h1 {
    flex: 1.1;
    text-align: left;
    font-family: "Sansita Swashed", cursive;
    font-size: 1.5rem;
  }
  #header-icon-div {
    flex: 1.6;
  }
  i.fa-search {
    position: relative;
    left: -30px;
    color: black;
  }
  i.fa-random {
    font-size: 2.5rem;
    padding: 10px 20px;
    transition: background-color 1s ease;
    &:hover {
      cursor: pointer;
      background-color: #1f325c;
    }
  }
  i.fa-home {
    font-size: 2.5rem;
    padding: 10px 20px;
    transition: background-color 1s ease;
    &:hover {
      cursor: pointer;
      background-color: #1f325c;
    }
  }
}

/* body */
.gallery {
  padding: 0 20px;
  .results {
    margin-left: 10%;
    padding: 10px 0;
  }
}

.images-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  flex-wrap: wrap;
  img {
    width: 320px;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  .aspect-ratio-container {
    background: rgba(0, 0, 0, 0.356);
    position: relative;
    top: -38px;
    padding: 5px 0;
    margin: auto;
    opacity: 0;
    border-radius: 10px;
    transition: opacity 0.5s ease;
    &.visible {
      opacity: 1;
    }
  }
  .aspect-ratio {
    color: white;
    font-weight: 200;
  }
  a {
    cursor: default;
  }
}

.images-container > a {
  flex: 1;
  text-decoration: none;
}

.wallpaper-container {
  margin: 10px;
}

/* ---------------------single img html-------------------------- */
#single-img-html .flex-container {
  .flex-items {
    flex: 1;
  }
  .site-name {
    flex: 0.5;
  }
  .search {
    flex: 0.8;
  }
  #header-logo-div {
    flex: 0.1;
  }
  #home-i-container {
    flex: 0.5;
    a {
      color: white;
    }
  }
  #header-icon-div {
    flex: 0.5;
  }
}

#tags {
  width: 200px;
  margin: auto;
  .tag {
    background-color: $PrimaryColor;
    margin-top: 20px;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1rem;
  }
}

#single-img-section {
  .flex-container {
    height: 100%;
    width: 100%;
    #flex-item1 {
      flex: 1;
      padding-top: 50px;
      text-align: center;
      h3 {
        font-size: 1.5rem;
      }

      #aspect-ratio {
        margin-top: 20px;
        text-align: center;
      }
      #full-img-link-container {
        margin-top: 20px;
      }
    }
    #flex-item2 {
      flex: 5;

      // #aspect-ratio-container {
      //   background-color: rgba(0, 0, 0, 0.5);
      //   position: relative;
      //   top: -63px;
      //   padding: 20px 0;
      //   border-radius: 20px;
      //   #aspect-ratio {
      //     text-align: center;
      //     color: white;
      //   }
      // }
    }
    .flex-items {
      justify-content: center;
      align-items: center;
      margin: 20px;
      img {
        width: 100%;
        height: auto;
        border-radius: 20px;
      }
    }
    ul {
      list-style: none;
      display: inline;
      li {
        line-height: 2;
        margin: 5px 20%;
        border-radius: 20px;
        background-color: $PrimaryColor;
        color: white;
      }
    }
  }
}
