@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Sansita+Swashed:wght@100;400;700&display=swap");
.desktop-ver {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  color: black;
}

a:visited {
  color: #14213D;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  background: #f3f3f3;
}

.main-container {
  width: 100vw;
  min-width: 335px;
  height: 100vh;
  color: white;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1003;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #14213D;
  height: 50px;
}

header .logo, header .site-name {
  display: none;
}

header input {
  height: 80%;
  width: 80%;
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 1.2em;
  padding: 0 8px;
}

header i {
  margin-left: 15px;
  font-size: 1.8em !important;
  color: white;
}

header .fa-home {
  margin-left: 0;
  margin-right: 15px;
}

header .fa-random {
  margin-left: 15px;
}

header i:hover {
  cursor: pointer;
}

header .fa-search {
  z-index: 1001;
  color: #14213D;
  margin-left: -25px;
  font-size: 1.1em !important;
}

.gallery {
  padding: 0 10%;
  background: #f3f3f3;
  width: 100%;
}

.gallery .logo-and-site {
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Sansita Swashed', cursive;
}

.gallery .logo-and-site .logo-mobile {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.gallery .logo-and-site .logo-mobile img {
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.gallery .date {
  margin-top: 15px;
  font-weight: lighter;
}

.gallery .wallpaper-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.gallery .wallpaper-container .image-container {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.gallery .wallpaper-container .image-container img {
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.gallery .wallpaper-container .aspect-ratio-container {
  position: absolute;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 15%;
  border-radius: 10px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.gallery .wallpaper-container .aspect-ratio-container h3 {
  color: white;
}

.gallery .link-to-image {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 1.4em;
}

.gallery .link-to-image a {
  color: #14213D;
}

.gallery .tags {
  margin-top: 20px;
  text-align: center;
}

.gallery .tags .tag {
  padding: 8px 12px;
  font-size: 1.1em;
  background: #14213D;
  color: white;
  outline: none;
  border: none;
  margin: 10px;
  border-radius: 10px;
}

.gallery .tags .tag:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style_mobile.css.map */