@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sansita+Swashed:wght@400;700&display=swap');
$PrimaryColor: #14213D;
$SecondaryColor: #f3f3f3;

.desktop-ver {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    color: black;
}

body {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background: $SecondaryColor;
}

.main-container {
   max-width: 600px;
   width: 100%;
   height: 100vh;
   color: white;
}

header {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $PrimaryColor;
    height: 50px;
    .logo, .site-name {
        display: none;
    }
    input {
        height: 80%;
        width: 80%;
        outline: none;
        border-radius: 10px;
        border: none;
    }
    i {
        margin-left: 15px;
        font-size: 1.8em !important;

        color: white;
    }
}

.gallery {
    padding: 0 10%;
    background: $SecondaryColor;

    .logo-and-site {
        margin: 5px 0;
        display: flex;
        align-items: center;
        font-family: 'Sansita Swashed', cursive;
        .logo-mobile {
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 10px;
            img {
                border-radius: inherit;
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }
    }
    .wallpaper-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        .image-container {
            position: relative;
            width: 100%;
            height: 200px;
            border-radius: 10px;

            img {
                border-radius: inherit;
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }

        .aspect-ratio-container {
            position: absolute;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 15%;
            border-radius: 10px;
            bottom: 0;
            background: rgba(0,0,0,0.7);

            h3 {
                color: white;
            }
        }
    }
}
